---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/*
GS: override any CSS with new CSS styles AFTER the `@import "minimal-mistakes";` line just above!
See: https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
Anything you place after this point will therefore "cascade and override" the previous CSS styles.
*/

/* Welcome text */
.archive__item-body {
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 1.5em;
}

/* Update the font family of navigation links */
.greedy-nav a {
    display: block;
    margin: 0 1rem;
    color: #042945;
    text-decoration: none;
    -webkit-transition: none;
    transition: none;
    font-family: 'Dancing Script';
    font-size: 1.2em;
}

/* Hide page title text because we include the text in the image */
.page__hero--overlay .page__title {
    color: #FF0000;
    opacity: 0%;
}

/* Add more room for the background image*/ 
.page__hero--overlay {
    padding: 5em 0;
}

/* Remove titles below info cards */ 
.page__content .archive__item-title {
    font-size: 0;
}

/* Update button styles */
.btn {
    font-family: 'Dancing Script';
    font-size: .9em;
    font-weight: normal;
}

/* Update font style of the page titles */
h1, h2 {
    font-size: 1.5em;
    font-family: 'Dancing Script';
}
